<body [ngClass]="{'slide-down': isNavigating}">
  <div class="content">
    <h1>Health Control</h1>
    <img src="./assets/black-logo.png" class="white-icon" (click)="logoButton()">

    <!--<button class="button">Autentificación</button>
    <button class="button">Entrar</button>-->
    <span>Haz click en la imagen</span>

    <div id="g_id_onload"
    data-client_id="743421759674-8tpue8253hikaihu0udh2e86n17pctm1.apps.googleusercontent.com"
    data-context="use"
    data-ux_mode="redirect"
    data-login_uri="http://localhost:3000/api/google"
    data-auto_select="false"
    data-itp_support="true">
</div>

<div class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left">
</div>
  </div>
</body>
