.content {
  height: 100vw;
  flex-grow: 1; /* Esto empuja el footer al final de la página */
  padding: 10px 15px;
  background-color: #ffffff; /* Color de fondo del contenido */
  margin-bottom: 60px;
}

.space
{
  height: 60px;
}
