app-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

h3, h4 {
  color: #333;
  text-align: center;
}

.recipe-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul, ol {
  width: 100%;
  padding: 0;
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  background: #f9f9f9;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  font-size: 1.1rem;
  color: #777;
}
