header {
  height: 50px; /* Escritorio */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Para posicionar el pseudo-elemento */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Define el grosor, el estilo y el color del borde */
}

.user-img-container{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5); /* Define el grosor, el estilo y el color del borde */
  box-sizing: border-box;
  margin-right: 4%;
}

.user-img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupará el 100% de la altura del contenedor */
  border-radius: 50%;

  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
}

i{
  width: auto;  /* Mantén el aspecto del icono */
  font-size: 150%;
  padding-left: 4%;
  padding-right: 4%;
}

button{
  background-color: transparent;
  border:none;
  margin-left: 4%;
}
