.settings-container {
  max-width: 400px;
}

h5 {
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 16px;
}

.settings-list {
  border-radius: 8px;
  padding: 10px 0;
}

mat-list-item {
  display: flex !important;
  align-items: center !important;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.3s;
}
span{
  margin-left: 10px;
  font-size: 20px;
}
i{
  margin-right: 10px;
}
mat-list-item:hover {
  background: #e0e0e0;
  border-radius: 4px;
}

mat-icon {
  color: #555;
}
