<app-page>
  <app-tools-card *ngIf="technique === 0" [title]="'Respiración diafragmática'"
    [description]="'Relaja el sistema nervioso y reduce el estrés, aumenta la concentración y el oxígeno en el cuerpo.'"
    [imageUrl]="'book-solid.svg'" (click)="selectTec(1)"></app-tools-card>
  <app-tools-card *ngIf="technique === 0" [title]="'Respiración 4-7-8'"
    [description]="'Relaja el sistema nervioso, mejora el sueño y ayuda a disminuir la ansiedad'"
    [imageUrl]="'book-solid.svg'" (click)="selectTec(2)"></app-tools-card>
  <div class="blob-container"*ngIf="technique === 1">
    <div class="blob1" >
      <span>{{step}}</span>
    </div>
  </div>
  <div class="blob-container"*ngIf="technique === 2">
    <div class="blob2" >
      <span>{{step}}</span>
    </div>
  </div>
</app-page>
