

.blob-container {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.blob1 {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 10px;
  height: 80px;
  width: 80px;
  border: 5px solid rgb(0, 94 , 110); /* Aro inicial sin visibilidad */
  transform: scale(1);
  animation: growShrink1 17s linear infinite; /* Usando la duración total */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #005e6e;
}

@keyframes growShrink1 {
  0% {
    transform: scale(1); /* Estado inicial */
  }

  21% {
    transform: scale(2); /* El círculo comienza a crecer */
  }

  58% {
    transform: scale(2); /* Se mantiene grande durante la fase de espera */
  }

  100% {
    transform: scale(1); /* El círculo vuelve a su tamaño original */
  }
}

.blob2 {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  margin: 10px;
  height: 80px;
  width: 80px;
  border: 5px solid rgb(0, 94 , 110); /* Aro inicial sin visibilidad */
  transform: scale(1);
  animation: growShrink2 19s linear infinite; /* Usando la duración total */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #005e6e;
}

@keyframes growShrink2 {
  0% {
    transform: scale(1); /* Estado inicial */
  }

  21% {
    transform: scale(2); /* El círculo comienza a crecer */
  }

  58% {
    transform: scale(2); /* Se mantiene grande durante la fase de espera */
  }

  100% {
    transform: scale(1); /* El círculo vuelve a su tamaño original */
  }
}
