.bloque-register {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
}
.register-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-group button {
  width: 45%;
}

.ml-2 {
  margin-left: 10px;
}
