
<div class="bloque-register col-lg-4 offset-lg-4">
  <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
      <div class="card-header text-center">REGISTRO</div>
      <div class="card-body">
          <form [formGroup]="formRegister">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input formControlName="username" type="text" class="form-control" placeholder="Introduce un nombre de usuario">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input formControlName="email" type="email" class="form-control" placeholder="Introduce un email">
              <label for="exampleInputEmail1" class="form-label">Contraseña</label>
              <input formControlName="password1" type="password" class="form-control" placeholder="Introduce una contraseña">
              <label for="exampleInputEmail1" class="form-label">Confirmar contraseña</label>
              <input formControlName="password2" type="password" class="form-control" placeholder="Confirma la contraseña">
          </form>
          <div class="buttons-container">
            <button type="submit" class="auth-button" (click)="loginRoute()">Autentificarme</button>
            <button type="button" class="register-button"  (click)="register()">Registrar</button>
          </div>
      </div>
  </div>
</div>
