.bloque-login {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}
.google-login{
  width: 50px;
  height: 50px;
  background-color: #005e6e;
}
.card {
  width: 100%;
  /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
  max-width: 480px;
  /* Ajusta este valor según el tamaño deseado */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-check {
  display: flex;
  align-items: center; // Centra verticalmente el checkbox y el label
  gap: 8px; // Espaciado entre el checkbox y el texto
  cursor: pointer;

  input {
    width: 16px; // Tamaño más estándar para checkboxes
    height: 16px;
    accent-color: #005e6e; // Cambia el color del checkbox si el navegador lo soporta
    cursor: pointer;
  }

  label {
    font-size: 14px;
    color: #333;
    user-select: none; // Evita la selección accidental del texto
  }
}


input {
  width: 100%;
  /* Ocupan el ancho completo del contenedor */
  box-sizing: border-box;
  /* Incluye padding y border en el ancho */
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid black;
}

.login-button {
  width: 40%;
  color: #ffffff;
  background-color: #005e6e;

}
.register-button{
  background-color: #ffffff00;
  color: #005e6e;

}
button {
  border: none;
  border-radius: 6px;
  padding: 5px;

}

.buttons-container {
  display: flex;
  align-items:baseline;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.bloque-register {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.card {
  width: 100%;
  /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
  max-width: 480px;
  /* Ajusta este valor según el tamaño deseado */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 100%;
  /* Ocupan el ancho completo del contenedor */
  box-sizing: border-box;
  /* Incluye padding y border en el ancho */
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid black;
}

.register-button {
  width: 40%;
  color: #ffffff;
  background-color: #005e6e;

}
.auth-button{
  background-color: #ffffff00;
  color: #005e6e;

}
button {
  border: none;
  border-radius: 6px;
  padding: 5px;

}

.buttons-container {
  display: flex;
  align-items:baseline;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
