<app-page>

  <div *ngIf="!routineCreation">
    <app-routine-card *ngFor="let routine of routines"
    [title]="routine.name"
    [description]="routine.description!"
    (cardClick)="goToRoutineDetails(routine.id!)"
    (deleteClick)="deleteRoutine(routine.id!)"
    [exercisesNumber]="routine.exercises.length"
    ></app-routine-card>
    <app-fab-button (fabClick)="setRoutineCreation(true)" icon="add"></app-fab-button>
  </div>

  <div class="routine-creation-container" *ngIf="routineCreation">
    <form [formGroup]="formRoutine">
      <input  type="text" formControlName="name" class="form-control" placeholder="Routine name" />
      <input  type="text"  formControlName="description" class="form-control" placeholder="Description" />
    </form>
    <div class="filter-container">
      <!-- Filtro de Tipo -->
      <!-- <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select [(value)]="selectedType" (selectionChange)="loadExercises()">
          <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Filtro de Músculo -->
      <mat-form-field appearance="outline">
        <mat-label>Músculo</mat-label>
        <mat-select [(value)]="selectedMuscle" (selectionChange)="loadExercises()">
          <mat-option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Filtro de Dificultad -->
      <mat-form-field appearance="outline">
        <mat-label>Dificultad</mat-label>
        <mat-select [(value)]="selectedDiff" (selectionChange)="loadExercises()">
          <mat-option *ngFor="let difficult of difficulty" [value]="difficult">{{ difficult }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <app-exercise-card *ngFor="let exercise of exercises" [exercise]="exercise"
    (clickAdd)="pushToRoutine($event)"></app-exercise-card>
    <app-fab-button (fabClick)="saveRoutine()" icon="save"></app-fab-button>

  </div>

</app-page>
