.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}

.routine-creation-container {
  width: 100%;
}
