@import 'ngx-toastr/toastr';

/* src/styles.css o src/styles.scss */
body, html {
  padding-bottom: 50px;
  box-sizing: border-box; /* Asegura que el padding no desborde el contenido */
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh); /* Ajusta el valor según tus necesidades */
  }
}

/* Clases para controlar el estado de la animación */
.slide-down {
  animation: slideDown 500ms forwards;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
