.bloque-login {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.card {
  width: 100%;
  /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
  max-width: 480px;
  /* Ajusta este valor según el tamaño deseado */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 100%;
  /* Ocupan el ancho completo del contenedor */
  box-sizing: border-box;
  /* Incluye padding y border en el ancho */
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid black;
}

.login-button {
  width: 40%;
  color: #ffffff;
  background-color: #005e6e;

}
.register-button{
  background-color: #ffffff00;
  color: #005e6e;

}
button {
  border: none;
  border-radius: 6px;
  padding: 5px;

}

.buttons-container {
  display: flex;
  align-items:baseline;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
