<app-page>
  <div class="header">
    <div class="header-text">
      <span class="day">{{ day }}</span>
      <span class="date">{{ getDate() }}</span>
    </div>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker #picker></mat-datepicker>
    <button class="calendar-button" (click)="picker.open()">
      <i class="fa-solid fa-calendar-days"></i>
    </button>
  </div>


  <div class="content-diary">
    <textarea
      class="diary-entry"
      placeholder="Escribe aquí lo que te ha pasado hoy..."></textarea>
  </div>
</app-page>
