<app-page>
  <div class="header">
    <div class="header-text">
      <span class="day">{{ day }}</span>
      <span class="date">{{ getDate() }}</span>
    </div>
    <div class="datepicker">
      <input matInput
         [matDatepicker]="picker"
         [matDatepickerFilter]="dateFilter"
         (dateChange)="onDateSelected($event)"
         readonly>
  <mat-datepicker #picker></mat-datepicker>
  <button class="calendar-button" (click)="picker.open()">
    <i class="fa-solid fa-calendar-days"></i>
  </button>
  </div>
  </div>

  <div class="content-diary">
    <textarea class="diary-entry"
          placeholder="Escribe aquí lo que te ha pasado hoy..."
          [(ngModel)]="selectedDiaryText"
          [readonly]="selectedDate !== today"></textarea>

  </div>
  <app-fab-button *ngIf="selectedDate == today" (fabClick)="saveDiary()" icon="save"></app-fab-button>

</app-page>
